@import "../../common_files/top.css" screen;
@import "../../common_files/foot.css" screen;
@import "../../common_files/authorize-no_rights.css" screen;
.button-submit {
	width:150px;
	margin:auto;
	margin-top:10px;
}
.content-document.selected{
	display:block;
}
#clientTable  {
	padding:10px;
	width:98%;
	float:left;
	margin:auto;
}
.content-document{
	display:none;
	padding:1px 0;
}
#content-document-menu {
	margin:auto;
	text-align:center;
}
#content-document-menu ul {
	line-height:1.2em;
	padding:0;
	width:100%;
	margin:0 auto;
	background-color:rgb(212, 248, 131);
}
#content-document-menu li {
	display:inline;
	padding:0;
}
#content-document-menu li a{
	display:inline-block;
	text-decoration:none;
	padding:0.5em 4em;
	color:black;
	text-shadow: 1px 1px 1px rgb(170, 192, 154);
}
#content-document-menu li a:hover{
	background-color:rgb(200, 242, 105);
	text-shadow: none;
}
#content-document-menu li.selected a{
	background-color:rgb(220, 255, 143);
	text-shadow: none;
}
#content-document-menu li.disabled a{
	background-color:rgb(212, 248, 131);
	color: rgb(197, 189, 189);
	text-shadow: none;
}

#userTable {
	max-width:100%;
	max-height:20em;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(222, 222, 222);
	margin:5px 0 5px;
}
#userTable table {
	margin:0;
	font-size:11px;
}
#tableAndText label, .formClass label{
	margin:0 auto;
	display:inline-block;
}
#tableAndText label input[type="text"], .formClass label input{
	width:25em;
	margin-left:10px;
}
#requestList .formClass label input, #insideRequestListMain .formClass label input, #insideRequestList .formClass label input, #invoiceListMain .formClass label input, #invoiceList .formClass label input{
	width:14em;
	margin-left:10px;
	padding-left: 20px;
}
.tree ul a.selected {
	background-color: rgb(250, 255, 117);
}
#tableAndText label input[type="checkbox"]{
	vertical-align:middle;
	margin-left:10px;
	padding-left:2px;
}
#userInfo {
	width:60%;
	float:left;
}
#invoices {
	width:40%;
	float:right;
}
#requestList, #insideRequestList, #invoiceList {
	width:24%;
	margin: 10px 5px;
	float:left;
}
.documentEdit, .documentInfo {
	width: 50%;
	margin: 10px auto;
	display:none;
}
#invoice .documentEdit, #invoice .documentInfo {
	float: left;
	margin: 10px 12%;
}
.documentEdit.selected, .documentInfo.selected {
	display:block;
}
#insideRequestListMain, #invoiceListMain {
	max-width:24%;
	margin: 10px 5px;
	float:right;
}
.noDocument p, #noTable p{
	display: inline-block;
	margin: 5px;
}
div.button-submit button,div.button-submit input {
  margin: 4px;
  display: inline-block;
}
div button {
	margin:5px auto;
	display: block;
}
li a {
	font: inherit;
	text-decoration: inherit;
	text-shadow: none;
}
ul {
	cursor:pointer;
}
.documentData ul {
	margin: 0;
	padding:0;
	list-style-type:none;
}
.documentData ul li a {
	color: #007AD6;
	display: block;
	padding-left: 40px;
	height: 30px;
	vertical-align: middle;
	margin: 2px 0;
	background-color: rgb(218, 252, 141);
	border: 1px solid rgba(131, 202, 131, 0.43);
	border-radius: 7px;
}
.documentData ul li ul li a{
	padding-left:80px;
}
.documentData ul li ul li ul li a{
	padding-left:120px;
}
.documentData a:hover{
	background-color: rgb(177, 245, 114);
}
fieldset {
	padding: 5px;
}
.userTable-first {
	min-width:35%;
}
.userTable-second {
	min-width:15%;
}
.userTable-third {
	min-width:20%;
}
.userTable-fouth{
	min-width:30%;
}
.buttonAddRequest {
	margin: 10px;
}
.invoiceArea {
	margin: 10px 0 0 0;
}
.tree {
	max-height:300px;
	overflow-y:auto;
}


.formElement {
	margin:3px 10px;
}
.formElement select[name="dispatcher[]"]{
	height:4.1em;
}
.formElement label{
	width:90%;
	vertical-align:top;
}
.formElement select, .formElement input[type="text"], .formElement input[type="password"]{
	width:14.9em;
}
#mailIndex {
	width:5em !important;
}
.formElement span{
	width:40%;
	text-align:right;
	display:inline-block;
	margin:0 5px 0 auto;
	vertical-align: top;
}
.documentInfo div.viewElement {
	margin: 5px 10%;
}
.documentInfo div.viewElement span{
	text-align: center;
	width: 50%;
	display: inline-block;
}
 label input.search {
	background-image: url(../../common_files/imgs/search.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 20px;
 }
 label input.search:focus, label input.search:hover {
	background-image: url(../../common_files/imgs/search-selected.png);
 }