@import "../../common_files/top.css" screen;
@import "../../common_files/foot.css" screen;
@import "../../common_files/authorize-no_rights.css" screen;
#content-point p {
	text-indent:12px;
	color:red;
} 
#container {
	margin:inherit;
}
#content-point hr{
	width:90%;
	margin:7px auto;
}
#content-point {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
#content li{
	list-style-type:none;
}
#content {
	padding-bottom:10px;
}
#content-point-point h3{
	text-align:center;
}
fieldset.labels.one {
	margin: 5px auto;
	padding: 10px;
	width: 60%;
}
div.end-of-content {
	width:100%;
	clear:both;
}
#content-body {
	width:98%;
	margin: 10px 10px 0 10px;
}
button.actions {
    padding: 2px;
    margin: 4px;
}
button.actions img{
	width: 14px;
	height: 14px;
}