<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Dao">
        <classes>
            <class name="ru.logistica.tms.dao.docPeriodDao.DocPeriodImplTest" />
            <class name="ru.logistica.tms.dao.supplierDao.SuppliersDaoImplTest" />
            <class name="ru.logistica.tms.dao.userDao.UserDaoImplTest" />
            <class name="ru.logistica.tms.dao.TestRelations" />
            <class name="ru.logistica.tms.dao.DaoFacadeTest" />
        </classes>
    </test>
</suite>