body {
    color: #000;
    direction: ltr;
    font-family: "Varela Round","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 18px;
    line-height: 1.182;
    font-weight: normal;
}
.errorText {
    color: #b81900;
    text-align: center;
    font-size: xx-small;
}

#loginBox {
    background: #FFF;
    margin: 150px auto;
    padding: 60px 60px;
    width: 146px;
    color: #45688E;
    border: 2px solid #C3CBD4;
}

#loginBox * {
    padding: auto;
}

input:focus{
    border: 1px solid #39c;
}

#userLogin: hover{

}

#userLoginId{
    background: url(media/customImages/male.svg) no-repeat left +5px center;
    background-size: 20px auto;
}

input{
    height: 30px;
    width: 190px;
}

.lightblue:active{
    transform: translateZ(0);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    background-color: #6383a8;
}

.lightblue{
    background-image: -moz-linear-gradient(top, #6383a8 0%, #29496B 100%);
    border: 1px solid #537aa7;
    color: #E6E6FA;
    font-size: 12px;
    padding: 10px 54px;
    font-family: "Varela Round","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    cursor: pointer;
}

::-webkit-input-placeholder {color:#A9A9A9;}
::-moz-placeholder          {color:#A9A9A9;}
:-moz-placeholder           {color:#A9A9A9;}
:-ms-input-placeholder      {color:#A9A9A9;}

