@import "../common_files/top.css" screen;
@import "../common_files/foot.css" screen;
@import "../common_files/authorize-no_rights.css" screen;
#content-route p {
	text-indent:12px;
	color:red;
} 
#head-content h2 {
	color:#333;
	text-align:center;
	padding:10px;
}
#content hr{
	width:90%;
}
#content li{
	list-style-type:none;
}
#content-route-point {
	float:right;
	width:480px;
	margin:auto;
	padding:10px;
	width:auto;
}
#content-route {
	padding:10px;
	width:50%;
	float:left;
}
