<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--https://docs.jboss.org/hibernate/orm/5.0/manual/en-US/html/ch03.html-->
<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.datasource">java:/comp/env/jdbc/postgres</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--Connections source from built-in tomcat connection pool-->
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.show_sql">true</property>
        <!-- Drop and re-create the database schema on startup (values = [create, update])-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>-->

        <mapping class="ru.logistica.tms.dao.docDao.Doc"/>
        <mapping class="ru.logistica.tms.dao.warehouseDao.Warehouse"/>
        <mapping class="ru.logistica.tms.dao.docPeriodDao.DocPeriod"/>
        <mapping class="ru.logistica.tms.dao.docPeriodDao.DonutDocPeriod"/>
        <mapping class="ru.logistica.tms.dao.supplierDao.Supplier"/>
        <mapping class="ru.logistica.tms.dao.orderDao.Order"/>
        <mapping class="ru.logistica.tms.dao.userDao.Permission"/>
        <mapping class="ru.logistica.tms.dao.userDao.SupplierUser"/>
        <mapping class="ru.logistica.tms.dao.userDao.UserRole"/>
        <mapping class="ru.logistica.tms.dao.userDao.User"/>
        <mapping class="ru.logistica.tms.dao.userDao.WarehouseUser"/>

    </session-factory>
</hibernate-configuration>
