<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--https://docs.jboss.org/hibernate/orm/5.0/manual/en-US/html/ch03.html-->
<hibernate-configuration>

    <session-factory>
        <!--use this for JNDI sourced connections-->
        <!--<property name="hibernate.connection.datasource">java:/comp/env/jdbc/postgres</property>-->

        <!--connection settings-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.connection.username">app_user</property>
        <property name="hibernate.connection.password">vghdfvce5485</property>

        <!--connection pool settings-->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!--other settings-->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property><!-- Drop or re-create the database schema on startup (values = [create, update])-->

        <!--Mappings-->
        <mapping class="ru.logistica.tms.dao.docDao.Doc"/>
        <mapping class="ru.logistica.tms.dao.warehouseDao.Warehouse"/>
        <mapping class="ru.logistica.tms.dao.docPeriodDao.DocPeriod"/>
        <mapping class="ru.logistica.tms.dao.docPeriodDao.DonutDocPeriod"/>
        <mapping class="ru.logistica.tms.dao.supplierDao.Supplier"/>
        <mapping class="ru.logistica.tms.dao.orderDao.Order"/>
        <mapping class="ru.logistica.tms.dao.userDao.Permission"/>
        <mapping class="ru.logistica.tms.dao.userDao.SupplierUser"/>
        <mapping class="ru.logistica.tms.dao.userDao.UserRole"/>
        <mapping class="ru.logistica.tms.dao.userDao.User"/>
        <mapping class="ru.logistica.tms.dao.userDao.WarehouseUser"/>
        <mapping class="ru.logistica.tms.dao.audit.orderAuditDao.OrdersAudit"/>
        <mapping class="ru.logistica.tms.dao.audit.docPeriodAuditDao.DonutDocPeriodAudit"/>

    </session-factory>
</hibernate-configuration>
