@import "../../common_files/top.css" screen;
@import "../../common_files/foot.css" screen;
@import "../../common_files/authorize-no_rights.css" screen;
 #content-document-menu {
	margin:auto;
	text-align:center;
}
 table {
	margin: 10px auto;
 }
 div button {
	margin:5px auto;
	display: block;
}