#foot-page {
	padding:5px 15px;
	background-color:rgb(149, 223, 93);
	color:#004F3C;
	bottom: 0;
	width: 970px;
/* 	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px; */
}
#foot-page p {
	margin:inherit;
}