html {
	font:16px/19px Helvetica,Arial,Tahoma,sans-serif;
	color:black;
	background-color: rgb(227, 255, 169);
/*	text-shadow: 0 0 1px black;*/
}
body {
	width:1000px;
	margin:auto;
	box-shadow: 0 0 100px black;
}
#top-page p {
	margin:inherit;
	padding:5px 15px;
	color:#f33;
 }
#top-page {
	text-align:center;
	background-color:rgb(165, 232, 103);
	text-shadow: 0 0 1px black;
/* 	border-top-left-radius: 25px;
	border-top-right-radius: 25px; */
}
#top-page h1 {
	text-align:center;
	line-height:1.2em;
	padding:10px;
}
#top-page ul {
	line-height:1.2em;
	padding:0;
	width:100%;
	margin:0 auto;
	background-color:rgb(149, 223, 93);
	border-top:1px rgb(140,200,70) solid;
}
#top-page li {
	display:inline;
	padding:0;
}
#top-page li a{
	display:inline-block;
	text-decoration:none;
	padding:0.5em 1em;
	color:black;
	text-shadow: 1px 1px 1px rgb(133, 185, 95);
}
#top-page li a:hover{
	background-color:rgb(136, 210, 80);
	text-shadow: none;
}
input, button, select{
	border-radius:3px;
	border:1px solid #a1a1a1;
}
.errorInput{
	border:1px solid #f00;
}
input, button{
	height:16px;
}
select{
	height:19.334px;
	padding:1px 0;
}
input[type="submit"], input[type="button"], button {
	height:18px;
	background-color: #C2E74B;
	color: #224E11;
	border: 1px solid #99B55C;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	color:white;
	background-color: #95DD4B;
}
input[disabled], button[disabled], input[disabled]:hover, button[disabled]:hover {
	height:18px;
	background-color:#ccc;
	color:white;
	border:1px solid #ccc;
}
#content {
	background-color:rgb(227, 255, 169);
}
#head-content {
	border-bottom: 2px dotted rgb(140,200,70);
}
#head-content h2 {
	color:#333;
	text-align:center;
	padding:10px;
}
#end-of-content {
	width:100%;
	clear:both;
}
#container {
	margin:inherit;
}
h1,h2,h3 {
	margin:inherit;
}
h1 a{
	color:black;
	text-decoration:none;
}
fieldset {
	border: 1px dashed rgb(122, 212, 122);
	background-color:rgb(214, 255, 129);
	border-radius:7px;
}
table{
	background-color: #BEEB59;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 7px;
	font: 12px/15px Arial,sans-serif;
	text-shadow: none;
}
table th{
	padding:5px 10px;
	background-color: #A7D343;
}
table td{
	text-shadow: none;
	padding: 3px 15px;
	cursor:pointer;
}
table tr:nth-child(2n){
	background-color: #D4F883;
	color:black;
}
table tr:hover{
	background-color:rgb(175, 175, 209);
	color:black;
}
table tr.selected{
	background-color: rgb(129, 167, 43);
	color: rgb(246, 217, 170);
	text-shadow: 0 0 1px rgb(255, 226, 0);
}
img[alt="ERROR"] {
	width: 12px;
	height: 12px;
	margin: 5px 5px 5px 15px;
	vertical-align: middle;
}
div.window-phone {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
}
div.window-phone.selected {
	display:block;
}
div.window-dialog {
	width: 400px;
	box-shadow: 0 0 25px black;
	text-align: center;
	position: absolute;
	background-color: rgb(197, 234, 115);
	top: 33%;
	left: 33%;
	border-radius: 15px;
	border: 1px solid rgb(130, 210, 102);
	z-index:2;
}