body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#routeListTable:first-child{
    width: 500px;
    margin: 0 auto;
}

#routeListTable:first-child{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dt-button{
    cursor: pointer;
    border-radius: 3px !important;
    padding: 0.8em 1.5em !important;
}

#routeListTable + div{
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

thead:first-child tr[role="row"]{
    font-size: 16px;
}

table.dataTable > *{
    text-align: center;
}

input, textarea{
    width: 180px;
}

#routeListTable:first-child input{
    height: 20px;
}

table.dataTable tr{
    height: 45px;
}

table.dataTable td, th{
    width: 50px;
}

.select-checkbox{
    width: 20px;
}

.dataTables_wrapper{
    margin-top: 50px;
}

button{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    -moz-user-select: none;
    text-decoration: none;
    outline: none;
    border-radius: 3px !important;
    padding: 0.8em 1.5em !important;
    width: 120px;
    margin: 0 auto;
    margin-top: 50px;
}

/*button:focus{
    background-color:#e2e2e2;
    	background-image:-webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    	background-image:-moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    	background-image:-ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    	background-image:-o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
    	background-image:linear-gradient(to bottom, #f3f3f3 0%, #e2e2e2 100%);
    	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f3f3', EndColorStr='#e2e2e2');
    	box-shadow:inset 1px 1px 3px #999999
}*/

button:active, .dt-button:active{
        background-color:#e2e2e2 !important;
    	background-image:-webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%) !important;
    	background-image:-moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%) !important;
    	background-image:-ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100% !important);
    	background-image:-o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%) !important;
    	background-image:linear-gradient(to bottom, #f3f3f3 0%, #e2e2e2 100%) !important;
    	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f3f3', EndColorStr='#e2e2e2') !important;
    	box-shadow:inset 1px 1px 3px #999999 !important;
}

button:hover, .dt-button:hover{
        border:1px solid #666  !important;
    	background-color:#e0e0e0 !important;
    	background-image:-webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%) !important;
    	background-image:-moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%) !important;
    	background-image:-ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%) !important;
    	background-image:-o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%) !important;
    	background-image:linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%) !important;
    	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e0e0e0')  !important;
}

#routeListTable:first-child input:focus, textarea:focus{
      /*8border-top: 2px solid #426c9e;*/
      /*text-shadow: 0 1px 0 #c4def1;*/
      background-color: #ffffee;
}

/*table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #FFF5EE;
}


table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #FFF5EE;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #FFF5EE;
}

