.tablePlugin td {
    border: 1px solid orange;
    text-align: center;
}

.tablePlugin td > * {
    height: 25px;
    table-layout: fixed;
    padding-left: 15px;
    padding-right: 15px;

}

.tablePlugin table {
    background-color: #FDE4D0;
    border: 1px solid orange;
    border-collapse: collapse;
    width: 100%;
}

.tablePlugin td label {
    background-color: #FFFAFA;
    border-bottom: 1px solid orange;

}

.tablePlugin td div {
    /*font-weight:bold;*/
    vertical-align: middle;
}

.tp_occupied {
    background-color: red;
}

/*.tp_owned:before {*/
    /*content:"*";*/
/*}*/

.tp_owned{
    font-weight: bold;
}

.tp_closed {
    background-color: grey;
}

.tp_disabled {
    background-color: rgba(0,0,0, 0.5);
}

.tp_highlight {
    outline: 2px solid #ED1C24;
}


