body {
    font-family: Courier New, serif;
    font-size: 15px;
}

.tableCell {
    border: 1px solid orange;
    text-align: center;
}

.tableCell > * {
    height: 25px;
    table-layout: fixed;
    padding-left: 15px;
    padding-right: 15px;
}

.mainTable {
    background-color: #FDE4D0;
    border: 1px solid orange;
    border-collapse: collapse;
}

.highlight {
    outline: 2px solid #ED1C24;
}

.timePeriodLabel {
    background-color: #FFFAFA;
    border-bottom: 1px solid orange;
}

.companyDiv {
    font-weight:bold;
    display: table-cell;
    vertical-align: middle;
}


