body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #33363e;
}

.tablePlugin td {
    border: 1px solid #aab7d1;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

.tablePlugin td > * {
    height: 25px;
    table-layout: fixed;
    padding-left: 15px;
    padding-right: 15px;
}

.remodal{
    min-width: 1060px !important;
}



.tablePlugin table {
    background-color: #e5e9f1;
    border-collapse: separate;
    border-spacing: 0px;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    /*margin: 0 auto;*/
}

.tablePlugin td label {
    /*background-color: #eef0f5;
    /*border-bottom: 1px solid orange;*/
}

.mainTable{
    table-layout: fixed;
}

.tablePlugin td div {
    vertical-align: middle;
    padding-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*border-top: 1px solid #aab7d1;*/
}

.tp_occupied {

}

.tp_error {
    background-color: #d1aab7;
}

.tp_delivered {
    background-color: #b7d1aa;
}

.tp_in_process {
    background-color: #99A9C8;
}
.tp_arrived {
    background-color: #c8b899;
}

/*.tp_owned:before {*/
/*content:"*";*/
/*}*/

.tp_owned{
    font-weight: bold;
}

.tp_closed {
    background-color: #8892a7;
}

.tp_disabled {
    background-color: rgba(0,0,0, 0.5);
    left: 28px !important;
}

.tp_highlight {
    outline: 3px solid #b1aad1;
}


.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}


