td {
    /*outline: 1px solid orange;*/
    text-align: center;
}

td > *{
    height: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

table {
    background-color: #FDE4D0;
    border: 1px solid orange;
    border-collapse: collapse;
}

.highlight {
    outline: 3px solid #ED1C24;
}

table label {
    background-color: white;
}

