/*base colors*/
/*rgb(170,199,231)*/
/*rgb(142,169,201)*/
/*rgb(104,124,144)*/
/*rgb(91,109,132)*/
/*#1c3655*/
/*#c22929*/

clearfix::after, body .container .row .mid::after {
  content: "";
  display: block;
  clear: both; }

.loading{
  text-align: center;
}

#map {
  width: 90%;
  /*margin:10px;*/
  height: 500px;
}

#requestNumber{
  color: #f77a6c;
}

#routeListNumber{
  color: #f77a6c;
}


.btn-default {
  color: #fff;
  font-size: 15px;
  /*font-weight: bold;*/
  background-color: rgb(91,109,132);
  border-color: #ccc;
}

table.dataTable.no-footer{
  border-bottom: solid thin #1c3655;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  color: #1c3655;

  /*background: #f1f5f8 !important;*/
  font-size: 14px;
  line-height: 24px; }
  body .container .row .mid {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 15px;
    color: #5c5c5c; }
body .container .row .mid .info {
  margin-top: 20px;
  padding: 9px 0 9px 15px;
  background: rgb(91,109,132);
  border-top: 1px solid #ced8e1;
  border-radius: 4px;
  border-bottom: 1px solid #ced8e1;
  font-weight: bold;
  color: #fff;
}
    body .container .row .mid.request-information {
      /*border-bottom: 2px solid #cecece; */
    }
      body .container .row .mid.request-information table {
        display: inline-block;
        vertical-align: top; }
        body .container .row .mid.request-information table td:first-child {
          font-weight: bold;
          color: #1c3655; }
    body .container .row .mid.status-history table {
      margin: 20px auto;
      width: 99%;
      border-collapse: collapse; }
      body .container .row .mid.status-history table td,
      body .container .row .mid.status-history table th {
        padding: 5px;
        vertical-align: middle;
        border-top: 1px solid #cecece;
        /*border-bottom: 1px solid #cecece; */
      }
      body .container .row .mid.status-history table th {
        font-weight: bold;
        color: #1c3655; }
      /*body .container .row .mid.status-history table tr:nth-child(even) {*/
        /*background: #e8e8e8; }*/
      body .container .row .mid.status-history table tr:not(:first-child):hover {
        cursor: pointer;
        /*background: #cecece;*/
      }
