/*@import url(../../../common_files/media/css/common_style.css);*/
/* Below line is used for online Google font */
/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif);*/

h2 {
    text-align: center;
    font-size: 24px;
}

hr {
    margin-bottom: 30px;
}

div.container {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    font-family: Arial,"Helvetica Neue", Helvetica, Tahoma,  serif;
    position: relative;
    text-align: center;
}

div.main {
    width: 320px;
    margin-top: 80px;
    text-align: left;
    padding: 50px 65px 45px;
    background-color: rgba(170,199,231,0.2);
    border: solid thin rgb(142,169,201);
    /*border-top: 30px solid rgb(142,169,201);*/
    border-radius: 2px;
    font-size: 13px;
    display: inline-block;
    color: #1c3655;
    box-shadow:  0px 0px 3px rgb(142,169,201);
}

input[type=text], [type=password] {
    width: 97.7%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    color: #1c3655;
    font-size: 12px;
}

label {
    color: #1c3655;
    font-size: 14px;
    font-weight: bold;
}

#loginButton {
    float: right;
    width: 30%;
    background: #1c3655;
    color: white;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    padding: 8px;
    /*font-weight: bold;*/
    cursor: pointer;

}

#loginButton:hover {
    background: rgb(142,169,201);
    color: white;
}

/*class toggled dynamically with javascript*/
.login_error {
    border: 2px solid #c22929 !important;
}

