<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <RollingFile name="DAILY_LOG" fileName="${sys:logsFileDir}/lastDay.log" filePattern="${sys:logsFileDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %p %c{10} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <!--interval is depends on min time unit inside filePattern-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--<SizeBasedTriggeringPolicy size="10 MB"/>-->
            </Policies>
            <DefaultRolloverStrategy max="2000"/>
        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="DAILY_LOG" level="TRACE"/>
            <AppenderRef ref="STDOUT" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>